body { font-family: 'Roboto', sans-serif; }

.title {
    margin: 0;
    padding: 0;
}

/* Ajeitar o tamanho da linha abaixo do Planejamento  */
h1 {
   margin-top: 80px;
   border: 2px outset #FFF;
   height: 50px;
   border-left: #FFF;
   border-right: #FFF;
   border-bottom-color: #C4C4C4;
}

/* As duas tabelas */
#tables {
    width: 10px;
    height: 10px;
}

/* Primeira tabela */
.tableOne, th, td { 
    width: 20cm;
    height: 1cm;
    padding: 10px;
    border: 2px solid black;
    border-collapse: collapse;
    margin: 70px;
    margin-left: 300px;
    text-align: center;
    background-color: #69A1D2;
    color: #FFF;
    font-weight: normal;
    font-size: 20px;
    border-bottom-color: #FFF;
}

/* Segunda coluna da primeira tabela */
#first-table-second-column {
    border: 2px solid black;
    background-color: white;
    color: #69A1D2;
    /* border-bottom-color: #69A1D2; */
}

/* Segunda tabela */
.tableTwo, th, td { 
    width: 20cm;
    height: 1cm;
    padding: 10px;
    border: 2px solid black;
    border-collapse: collapse;
    margin: 70px;
    margin-left: 300px;
    text-align: center;
    background-color: #69A1D2;
    color: #FFF;
    font-weight: normal;
    font-size: 20px;
    border-bottom-color: #FFF;
}

/* Segunda coluna da segunda tabela */
#second-table-second-column {
    border: 2px solid black;
    background-color: white;
    color: #69A1D2;
    /* border-bottom-color: #69A1D2; */
}

