.container { font-family: 'Roboto', sans-serif; }

#main-title {
    margin: 10px;
    padding: 10px;
}

h1 {
    margin-top: 80px;
    border: 2px outset #FFF;
    height: 50px;
    border-left: #FFF;
    border-right: #FFF;
    border-bottom-color: #C4C4C4;
}

.main-table {
    width: 900px;
    height: 10px;
    border: 1px solid whitesmoke;
    border-radius: 20px 20px 20px 20px;
    background-color: rgba(0,0,5,0.8);
    top: 30%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    padding: 35px;
    text-align: center;
    font-size: large;
}

h2 {
    margin-top: -15px;
    color: #FFF;
}

/* Tabela Descricao */
.descricao-table {
    width: 290px;
    height: 20px;
    border: 1px solid whitesmoke;
    border-radius: 20px 20px 20px 20px;
    background-color: rgba(0,0,5,0.8);
    top: 40%;
    left: 29%;
    position: absolute;
    transform: translate(-50%, -50%);
    padding: 35px;
    text-align: center;
}

/* Tabela Prazo */
.prazo-table {
    width: 290px;
    height: 20px;
    border: 1px solid whitesmoke;
    border-radius: 20px 20px 20px 20px;
    background-color: rgba(0,0,5,0.8);
    top: 40%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    padding: 35px;
    text-align: center;
}

/* Tabela Status */
.status-table {
    width: 290px;
    height: 20px;
    border: 1px solid whitesmoke;
    border-radius: 20px 20px 20px 20px;
    background-color: rgba(0,0,5,0.8);
    top: 40%;
    left: 71%;
    position: absolute;
    transform: translate(-50%, -50%);
    padding: 35px;
    text-align: center;
}

/* Primeira Coluna abaixo da Descrição */
.first-column-table-one {
    width: 290px;
    height: 20px;
    border: 1px solid whitesmoke;
    border-radius: 20px 20px 20px 20px;
    background-color: rgba(0,0,5,0.8);
    top: 50%;
    left: 29%;
    position: absolute;
    transform: translate(-50%, -50%);
    padding: 35px;
    text-align: center;
}

.first-column-table-two {
    width: 290px;
    height: 20px;
    border: 1px solid whitesmoke;
    border-radius: 20px 20px 20px 20px;
    background-color: rgba(0,0,5,0.8);
    top: 60%;
    left: 29%;
    position: absolute;
    transform: translate(-50%, -50%);
    padding: 35px;
    text-align: center;
}

.first-column-table-three {
    width: 290px;
    height: 20px;
    border: 1px solid whitesmoke;
    border-radius: 20px 20px 20px 20px;
    background-color: rgba(0,0,5,0.8);
    top: 70%;
    left: 29%;
    position: absolute;
    transform: translate(-50%, -50%);
    padding: 35px;
    text-align: center;
}

/* Segunda Coluna abaixo do Prazo */
.second-column-table-one {
    width: 290px;
    height: 20px;
    border: 1px solid whitesmoke;
    border-radius: 20px 20px 20px 20px;
    background-color: rgba(0,0,5,0.8);
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    padding: 35px;
    text-align: center;
}

.second-column-table-two {
    width: 290px;
    height: 20px;
    border: 1px solid whitesmoke;
    border-radius: 20px 20px 20px 20px;
    background-color: rgba(0,0,5,0.8);
    top: 60%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    padding: 35px;
    text-align: center;
}

.second-column-table-three {
    width: 290px;
    height: 20px;
    border: 1px solid whitesmoke;
    border-radius: 20px 20px 20px 20px;
    background-color: rgba(0,0,5,0.8);
    top: 70%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    padding: 35px;
    text-align: center;
}

/* Terceira Coluna abaixo do Status */
.thid-column-table-one {
    width: 290px;
    height: 20px;
    border: 1px solid whitesmoke;
    border-radius: 20px 20px 20px 20px;
    background-color: rgba(0,0,5,0.8);
    top: 60%;
    left: 71%;
    position: absolute;
    transform: translate(-50%, -50%);
    padding: 35px;
    text-align: center;
}

.third-column-table-two {
    width: 290px;
    height: 20px;
    border: 1px solid whitesmoke;
    border-radius: 20px 20px 20px 20px;
    background-color: rgba(0,0,5,0.8);
    top: 50%;
    left: 71%;
    position: absolute;
    transform: translate(-50%, -50%);
    padding: 35px;
    text-align: center;
}

.third-column-table-three {
    width: 290px;
    height: 20px;
    border: 1px solid whitesmoke;
    border-radius: 20px 20px 20px 20px;
    background-color: rgba(0,0,5,0.8);
    top: 70%;
    left: 71%;
    position: absolute;
    transform: translate(-50%, -50%);
    padding: 35px;
    text-align: center;
}