* { text-decoration: none; }

.title {
  text-align: center;
  color: #ffffff;
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #69A1D2;
}

input[type=text], input[type=password] {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box; 
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 50%;
  border-radius: 10ch;
}

button:hover {
  opacity: 0.8;
}
